/*landing page*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: 30px 20px;
    margin-bottom: 0;
    background-color: #eee;
}
a
{
    color: #000;
    text-decoration: none;
}

#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    /*background: #009688;*/
    height: 80px;
}
#nav-bar
{
    
}
#nav-bar ul li
{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;

}

#below-header
{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.below-heading 
{
    margin: 20px auto;
}

.inputs
{
    d
}
input
{
    margin-bottom: 20px;
    height: 35px;
    width: 300px;
}

button
{
    padding: 12px;
    margin-left: 10vh;
    width: 150px;
    background-color: yellow;
    color: #000;
}

.middle
{
    margin: 70px 100px;
    
}

.part
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    clear: left;
    flex-direction: row;
    

}
.middleimg img
{
    height: 40%;
    width: 40%;
}
.youtube
{
    margin: 90px 250px;
}


.threecards
{
    margin: 80px 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.card
{

    border: 1px solid #000;
}
.cardheading h2
{
    padding: 9px;
    background-color: #ddd;
    color: #000;
    
}

.cardbody h3
{
    margin: 20px 0;
}
.cardbody p
{
    margin: 7px 0;
}
.cardbody a
{
    padding: 20px 0;
}

.cardbtn
{
    margin: 20px 45px 20px 0;
}

footer
{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 9px;
    text-align: right;
}

.footerlinks ul li
{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;

}
.footercopyrights
{
    margin-top: 20px;
}

